/* src/components/SaveButton.css */
.save-button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  